body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	height: 100vh;
	background: #E4E4E4;
	font-family: 'Roboto', sans-serif;
}

canvas {
	width: 288px;
}

canvas:not(.next-element) {
	height: 480px;
}

.wrap {
	text-align: center;
}

.next-element {
	border: none;
	padding-bottom: 4px;
}

.score, .game-over {
	position: absolute;
}

.score {
	right: 10px;
	top: 10px;
	color: rgba(0, 0, 0, 0.15);
	font-size: 50px;
	font-weight: bold;
}

.game-over {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #E4E4E4;
}

.game-over.hidden {
	display: none;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.game-over-score {
	color: rgba(0, 0, 0, 0.15);
	font-size: 50px;
}
